<div class='container mt-4'>
	<h3>Add device</h3>

	<form method="POST" action="/devices/store">
		<div class='form-group'>
			<label for='name'>Name</label>
			<input type='text' class='form-control' id='name' name="name" />
		</div>
		<div class='form-group'>
			<label for='location'>Location</label>
			<input type='text' class='form-control' id='location' name="location" />
		</div>

		<button type='submit' class='btn btn-primary'>Add</button>
	</form>
</div>